# random stuff
.ipynb_checkpoints
.vscode
githubPages

# build related
**/__pycache__
build
k1a.egg-info
trash
dist

# docs related
html
latex
docs
!src/docs

# docs tracing related
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
